.page {
  display: flex;
  flex-direction: column;

  > section {
    align-self: center;
    max-width: 1440px;
  }
}

.top {
  align-items: center;
  justify-content: center;
  padding: 10vh 9vw;
  gap: 70px;

  display: flex;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 57px 30px 40px 30px;
    gap: 50px;
  }

  .snoopyAndLogo {
    position: relative;
    display: flex;
    align-items: flex-end;

    .snoopyScribble {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -50px; /* Make the divs hug each other */
      z-index: -2;

      @media screen and (max-width: 600px) {
        margin-right: -35px;
      }

      .snoopy {
        img {
          width: 160px;
          height: auto;
          display: block;
          object-fit: cover;
        }

        z-index: 2; /* so snoopy goes on top of the scribble*/

        @media screen and (max-width: 600px) {
          img {
            width: 100px;
          }
        }
      }

      .scribble {
        margin-top: -10px; /* magic number so that the images are closer together */
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .logo {
      border-radius: 50%;
      /* the initial logo container should be 232 x 232 */
      padding: 22.5px 32px;
      width: 232px;
      height: 232px;

      border: 2px solid var(--neutral-black, #1e1e1e);
      background: var(--neutral-white, #fbf9f4);

      /* 4px-solid-shadow */
      box-shadow: -4px 4px 0 0 var(--neutral-black, #1e1e1e);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media screen and (max-width: 600px) {
        width: 150px;
        height: 150px;
        padding: 13.5px 18.5px;
      }
    }
  }

  .pageDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      color: var(--neutral-black, #1e1e1e);
      text-align: left;
      font-family: "Groundnut", "GroundnutTW";
      font-size: var(--font-sizes-h2, 48px);
      font-weight: 400;
      letter-spacing: -1.056px;

      @media screen and (max-width: 900px) {
        text-align: center;
      }
    }

    .description {
      margin-top: 10px;
      color: var(--neutral-black, #1e1e1e);
      font-family: "Helvetica Neue";
      font-size: var(--font-sizes-base, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 120% */
      letter-spacing: -0.4px;
    }
  }
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0px 30px;
  padding-bottom: 51px;

  a {
    text-decoration: none;
  }

  .aboutBox {
    border: 2px solid var(--neutral-black, #1e1e1e);
    background: var(--neutral-white, #fbf9f4);

    .textSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      height: 124px;
      padding: 12px 20px;

      border: 2px solid var(--neutral-black, #1e1e1e);
      background: var(--neutral-white, #fbf9f4);
      box-shadow: -2px 4px 0 0 #1e1e1e;

      .title {
        color: var(--neutral-black, #1e1e1e);
        font-family: "Groundnut", "GroundnutTW";
        font-size: var(--font-sizes-base, 20px);
        font-weight: 400;
      }
      .description {
        color: var(--neutral-black, #1e1e1e);
        font-family: "Helvetica Neue";
        font-size: var(--font-sizes-secondary-base, 16px);
        font-weight: 400;
      }

      @media screen and (max-width: 850px) {
        height: unset;
        padding: 16px 16px;
        gap: 8px;
      }
    }

    .imageContainer {
      padding: 20px;
      background-color: var(--neutral-white);
      border: 2px solid var(--neutral-black, #1e1e1e);

      .inside {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .after {
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.15s ease-in-out;
        }

        .initial {
          z-index: 1;
        }

        &:hover {
          .after {
            opacity: 1;
            transition: opacity 0.15s ease-in-out;
          }
        }
      }

      @media screen and (max-width: 850px) {
        height: unset;
        padding: 16px 16px;
      }
    }
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
    width: 100%;

    .aboutBox {
      width: 100%;
    }
  }
}
