.componentContainer {
  min-height: calc(100vh - var(--header-size) - var(--footer-size));
  display: flex;
  flex-direction: column;
  transition: background-color 100ms linear;
  background-color: white;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 32px;
    flex: 1;
    min-height: 300px; // prevents jumping around
    height: auto;

    .mainHeading {
      margin-bottom: 30px;
    }

    .description {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      max-width: 900px;
      margin: 0 24px;
    }

    @media (max-width: 768px) {
      .description {
        font-size: 17px;
        margin-top: 8px;
      }
    }
    @media (max-width: 480px) {
      .description {
        font-size: 14px;
        margin-top: 16px;
      }
    }
  }

  .memberCount {
    width: 100%;

    .grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .member {
      flex: 0 0 calc(20%);
      border-right: 3px solid var(--darkgray);
      border-bottom: 3px solid var(--darkgray);
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      &:nth-child(5n) {
        border-right: none;
      }

      &:nth-last-child(-n + 5) {
        border-bottom: none;
      }
    }

    @media (max-width: 775px) {
      .member {
        flex: 0 0 calc(50%);

        &:nth-child(2n) {
          border-right: none;
        }

        &:nth-child(5n) {
          border-right: 3px solid var(--darkgray);
        }

        &:nth-last-child(-n + 5) {
          border-bottom: 3px solid var(--darkgray);
        }

        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }
      }
    }
  }
}
