.container {
  background-color: #151f28;
  min-height: calc(100vh - var(--header-size));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 70px;
  min-height: calc(50vh - var(--header-size));
  padding: 14px 24px 60px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    img {
      height: 250px;
      width: auto;
      object-fit: cover;
    }
  }

  .statement {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    max-width: 760px;
    padding-right: 10px;

    h1 {
      color: white;
      font-size: 48px;
    }
    p {
      font-size: 20px;
      color: white;
    }
  }
}

.redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(50vh);

  .departments,
  .people,
  .culture {
    display: flex;
    height: 50vh;
    width: calc(100vw / 3);
    justify-content: center;
    align-items: center;
    position: relative;

    .img:hover {
      filter: grayscale(0%);
    }

    .title {
      font-size: 40px;
      position: absolute;
      top: 45%;
      color: white;
      font-weight: 100;
    }
  }

  .departments .img {
    height: 50vh;
    width: calc(100vw / 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(100%) brightness(0.4);
    transition: filter 1s ease;
  }

  .people .img {
    height: 50vh;
    width: calc(100vw / 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(100%) brightness(0.4);
    transition: filter 1s ease;
  }

  .culture .img {
    height: 50vh;
    width: calc(100vw / 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(100%) brightness(0.4);
    transition: filter 1s ease;
  }
}

@media (max-width: 1200px) {
  .logo img {
    height: 200px;
  }
  .statement {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 17px;
    }
  }

  .title {
    font-size: 30px;
  }
}

//Mobile view
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }

  .logo {
    padding: 0;
  }

  .statement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;

    h1 {
      font-size: 30px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .redirect {
    height: auto;
    flex-direction: column;

    .departments,
    .people,
    .culture {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      .img {
        width: 100vw;
      }
    }
  }
}

@media (max-width: 440px) {
  .logo img {
    height: 150px;
  }
  .statement {
    padding: 20px 20px 50px 20px;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }
  }

  .title {
    font-size: 25px;
  }
}
