.hero {
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
    }
}

.container {
    color: var(--dark_grey);

    section {
        margin-bottom: 2rem;
    }

    .title {
        font-size: clamp(2.5rem, 9.5vw, 5rem);
        font-weight: lighter;
        text-align: center;
        font-family: Aesthetic, serif;
        
        max-width: 100%;
        overflow-x: auto;
        overflow-wrap: break-word;
        .subtitle {
            display: inline;
        }
    }

    .links {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        flex-wrap: wrap;

        > * {
            width: 30%;
        }
    }

    .flexCentered {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .flexColumn {
        flex-direction: column;
    }
}

.description {
    width: clamp(10ch, 80%, 70ch);
    font-family: Manrope-Regular, sans-serif;
}

@media only screen and (max-width: 900px) {
    .title > .subtitle {
        display: block !important;
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 760px) {
    .links > *  {
        width: 40% !important;
    }
}



@media only screen and (max-width: 600px) {
    
    .grid {
        grid-template-columns: 1fr;
    }

    .links {
        width: clamp(10%, 90%, 400px) !important;

        > * {
            width: 100% !important;
        }
    }
}   