.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid {
  max-width: 860px;
  margin: 0px auto;
  padding: 0px 30px;

  text-align: center;

  padding-top: 50px !important;
  font-size: 20px;

  .p_text_italic {
    font-style: italic;
  }

  .p_text {
    margin-bottom: 4%;
    margin-top: 60px;
  }
}

.video_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video_mid {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 400px;
  width: 100%;
  margin-top: 40px;
  background-color: black;
}

.testimonial_section {
  padding: 80px 0px;
  padding-bottom: 40px;
  margin: 60px 0px;
  background-color: #2d344e;
  color: white;

  .testimonial_mid {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 80px;
  }
}

.culture_section {
  max-width: 1300px;
  margin: 0px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header_text {
    text-align: center;
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 10px;
  }

  .p_text {
    font-size: 24px;
    margin-bottom: 4%;
    letter-spacing: -1.056px;
  }
}

.culture_mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  // text-align: center;

  .culture_card {
    flex: 1;
    flex-basis: 25%;
  }

  .margin_top_text {
    margin-top: 40px;
    text-align: center !important;
  }
  .p_text {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
  }
  .header_text {
    padding-bottom: 40px !important;
    text-align: center !important;
  }
}

.end_background {
  margin-top: 150px;
  background-color: #2d344e;
  position: relative;
  height: 50vh;
  min-height: 300px;

  .cta_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    .even_more_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1260px;
      padding: 0px 30px;
      margin: 0 auto;

      color: white !important;

      .end_mid {
        text-align: left;
      }

      .end_mid_align {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .end_header {
        font-family: "Sailec Bold Italic", sans-serif;
        line-height: 1em;
        color: white;
        margin-bottom: 10px;
        font-size: 54px;
        align-items: flex-start !important;
      }

      .end_paragraph {
        font-size: 24px;
        color: white;
        text-align: left;
        align-items: flex-start !important;
      }

      .end_mid_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
      }

      .box {
        width: 130px;
        height: 130px;
        border-style: solid;
        border-color: black;
      }
      .none {
        border-right: none !important;
      }
    }
  }
}

.stats_main {
  max-width: 1300px;
  margin: 80px auto;
  margin-bottom: 160px;
  padding: 30px;

  .header_text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 48px !important;
    line-height: 1em;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    flex-wrap: wrap;

    .stats_details2 {
      margin-top: 40px;
      flex: 1 1 33%;
    }
  }
}

.last {
  height: 20vh;
}

@media only screen and (max-width: 1210px) {
  .culture_section {
    .culture_card {
      flex: 1;
      flex-basis: 50%;
    }
  }

  .testimonial_section {
    .testimonial_mid {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0px 30px;
    }
  }

  .end_background {
    .inner {
      .even_more_inner {
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 0px 100px;

        .end_mid {
          .end_mid_align {
            margin-bottom: 20px;
            .end_header {
              font-size: 40px;
              margin-bottom: 10px;
            }
          }
        }

        .box {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1068px) {
  .mid {
    padding-top: 90px !important;
  }

  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  .mid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .culture_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //flex-wrap: wrap;
    width: 100%;
  }

  .stats_main {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;

    .header_text {
      font-size: 38px !important;
      text-align: center;
    }

    .stats_details {
      .cards {
        .stats_details2 {
          flex: 1 1 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mid {
    font-size: 16px;
  }

  .stats_main {
    .stats_details {
      max-width: 400px;
      margin: 0px auto;
      .cards {
        .stats_details2 {
          margin-top: 0px;
          flex: 1 1 100%;
        }
      }
    }
  }

  .culture_section {
    .header_text {
      font-size: 32px;
    }

    .p_text {
      font-size: 18px;
    }
  }

  .end_background {
    .inner {
      .even_more_inner {
        padding: 0px 30px;

        .end_mid {
          .end_mid_align {
            .end_header {
              font-size: 32px;
            }
          }
        }

        .end_paragraph {
          font-size: 24px;
          line-height: 1em;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .culture_section {
    .culture_card {
      flex: 1;
      flex-basis: 100%;
    }
  }

  .culture_mid {
    width: 100%;
  }
  .mid {
    width: 80%;
    margin-top: 0px;
    .p_text {
      width: 100%;
    }
  }
  .video_section {
    width: 100%;
  }

  .end_background {
    .inner {
      .even_more_inner {
        .box {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
