.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.imageContainer {
  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    display: block;
  }
}

.notebook {
  /*
        Notebook styling from here:
        https://codepen.io/designcouch/pen/bGvzKE?editors=0100
    */

  --notebook-margin-size: 40px;
  --notebook-background-color: var(--neutral-cream, #fcebd1);

  background: linear-gradient(
    to bottom,
    var(--notebook-background-color),
    calc(var(--notebook-margin-size) - 0.8px),
    rgba(30, 30, 30, 0.6) 0.8px
  );
  background-size: 100% var(--notebook-margin-size);
  position: relative;
  overflow: hidden;

  p.notebookText {
    margin: 0 0 var(--notebook-margin-size) 0;
    line-height: var(--notebook-margin-size);
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  // width: 100%;
  border-bottom: 1px solid var(--neutral-black, #1e1e1e);

  padding: 32px 40px;

  .pageTitle {
    color: var(--neutral-white, #fbf9f4);
    text-align: center;
    text-shadow: -3px 5px 0 #1e1e1e;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--neutral-black, #1e1e1e);
    font-family: Snoopy;
    font-size: var(--font-sizes-hero-title, 96px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: normal;

    @media screen and (max-width: 1000px) {
      -webkit-text-stroke-width: 2px;
    }
  }

  .pageDescription {
    width: clamp(330px, 60vw, 620px);
    color: #393939;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: var(--font-sizes-base, 20px);
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.3em;
    letter-spacing: -0.4px;
  }
}

.section {
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 500px) {
    padding: 20px;
  }

  .sectionTitle {
    color: var(--neutral-black, #1e1e1e);
    font-family: Snoopy;
    font-size: var(--font-sizes-main-title, 64px);
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -1.408px;
    text-transform: uppercase;

    width: 100%;
  }

  .statsGrid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .statValue {
        color: var(--neutral-black);
        font-family: Snoopy;
        font-size: var(--font-sizes-h2, 48px);
        letter-spacing: -1.056px;
      }
      .statLabel {
        color: var(--neutral-black, #1e1e1e);
        font-family: "Helvetica Neue";
        font-size: var(--font-sizes-base, 20px);
        font-weight: 400; /* This seems to be bugged? */
        letter-spacing: -0.44px;
      }
    }

    @media screen and (max-width: 1000px) {
      margin-top: 0px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 850px) {
      gap: 20px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .characters {
      display: flex;
      justify-content: center;
      width: clamp(337px, 80vw, 771px);

      .imageContainer {
        display: block;
        width: 30%;
        margin-bottom: -1.3%;
        z-index: 1;

        img {
          width: 100%;
          height: auto;
        }
      }

      @media screen and (max-width: 820px) {
        .imageContainer {
          width: 50%;
          margin-bottom: -2%;
        }
      }

      @media screen and (max-width: 600px) {
        .imageContainer {
          width: 80%;
          margin-bottom: -2.7%;
        }
      }
    }

    .videoContainer {
      padding: 24px;
      border: 3px solid var(--neutral-black, #1e1e1e);
      background: var(--neutral-white, #fbf9f4);
      height: 434px;
      width: clamp(337px, 80vw, 771px);

      /* 12px-solid-shadow */
      box-shadow: -12px 12px 0 0 #1e1e1e;
      iframe {
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width: 820px) {
        height: clamp(215px, 60vw, 350px);
      }

      @media screen and (max-width: 450px) {
        padding: 0px;
      }
    }
  }

  .cultureCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
      width: 100%;
      justify-items: center;
    }
  }

  .otherWebsites {
    width: 100%;
    max-width: 1440px;

    --gap-size: 20px;
    --elements-per-row: 2;

    display: flex;
    justify-content: space-between;
    gap: var(--gap-size);
    flex-wrap: wrap;

    justify-content: center;

    .website {
      width: calc(calc(100% - calc(var(--gap-size) * calc(var(--elements-per-row) - 1))) / var(--elements-per-row));
      background-color: var(--neutral-white);
      border: 2px solid var(--neutral-black);
      display: block;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        min-width: 100%;
        height: auto;
        max-height: 270px;
        // aspect-ratio: 1/1;
        display: block;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
      }
    }

    .website:hover {
      img {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .otherWebsites {
      --elements-per-row: 2 !important;
      --gap-size: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .otherWebsites {
      --elements-per-row: 1 !important;
    }
  }

  .testimonial {
    padding: 60px 0px;

    @media screen and (max-width: 1000px) {
      padding: 30px 0px;
    }
  }
}

.comic {
  position: relative;
  border: 5px solid var(--neutral-black, #1e1e1e);
  overflow: hidden;

  .bruh,
  .overdots {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .overdots {
    z-index: -1;
  }

  .ctaOverlay {
    background: radial-gradient(
      101.73% 101.73% at 47.71% 21.73%,
      rgba(255, 212, 0, 0) 0%,
      rgba(255, 212, 0, 0.48) 100%
    );
    background-blend-mode: plus-darker;
    z-index: 3;
    padding: 60px 20px 40px 20px;

    .cta {
      border: 4px solid var(--neutral-black, #1e1e1e);
      box-shadow: -8px 8px 0 0 var(--neutral-black, #1e1e1e);
      background-color: white;

      max-width: 1200px;
      margin: 0px auto;
      padding: 30px 30px;
      gap: 40px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .mobile {
        display: none;
      }

      .left {
        .frames {
          --gap-size: 24px;
          --elements-per-row: 4;

          display: flex;
          justify-content: space-between;
          gap: var(--gap-size);
          flex-wrap: wrap;

          .member {
            width: calc(
              calc(100% - calc(var(--gap-size) * calc(var(--elements-per-row) - 1))) / var(--elements-per-row)
            );

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              display: block;
            }
          }
        }
      }

      .right {
        flex-grow: 1;
        h1 {
          font-family: Snoopy;
          font-size: clamp(48px, 4vw, var(--font-sizes-main-title, 64px));
          display: -webkit-box;
          letter-spacing: -3px;
          line-height: 0.8em;
        }

        .rail {
          margin-top: 30px;
          width: 100%;
          display: flex;
        }
      }

      @media screen and (max-width: 1000px) {
        .left {
          .frames {
            --gap-size: 16px;
          }
        }

        gap: 20px;
        padding: 20px;
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .mobile {
          display: block;
          font-family: Snoopy;
          font-size: 36px;
          display: -webkit-box;
          letter-spacing: -3px;
          line-height: 0.8em;
        }

        .right {
          width: 100%;

          h1 {
            display: none;
          }

          .rail {
            margin-top: 0px;

            a {
              min-width: 100%;
            }
          }
        }
      }

      @media screen and (max-width: 600px) {
        .left {
          .frames {
            --elements-per-row: 2;
          }
        }
      }
    }
  }
}

.spacer {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 850px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.cultureCard {
  display: flex;
  flex-direction: column;
  gap: 0;

  .imageContainer {
    border-bottom: 4px solid #1e1e1e;
    // background:
    //   url("../../../public/noise.svg") lightgray 20.312px 0px / 89.752% 100% no-repeat,
    //   url("../../../public/noise.svg") lightgray -198.826px -226.705px / 236.356% 228.337% no-repeat,
    //   url("../../../public/noise.svg") lightgray 50% / cover no-repeat;
    background-blend-mode: overlay, normal, normal;
    border: 4px solid var(--neutral-black, #1e1e1e);
    box-shadow: -8px 8px 0 0 var(--neutral-black, #1e1e1e);

    @media screen and (max-width: 1000px) {
      max-height: 270px;
    }
  }

  .bottom {
    /* tweakable variables */
    --title-height: 72px; /* Should be divisible by the notebook margin size */
    --left-margin: 18px; /* This is a magic number */

    padding-left: var(--left-margin);
    background-color: var(--notebook-background-color);

    border: 4px solid var(--neutral-black, #1e1e1e);
    box-shadow: -8px 8px 0 0 var(--neutral-black, #1e1e1e);
    display: flex;
    flex: 1;

    .notebook {
      flex: 1;
      --notebook-margin-size: 24px;
      position: relative;
      overflow: visible;
      padding-right: 6px;

      .cardTitle {
        position: absolute;

        margin-left: calc(-1 * var(--left-margin));
        margin-top: -24px;
        padding: 5%;

        background-color: var(--neutral-white);
        border: 2.208px solid var(--neutral-black, #1e1e1e);
        box-shadow: -2.208px 4.417px 0 0 var(--neutral-black, #1e1e1e);

        width: 90%;
        height: var(--title-height);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          display: -webkit-box; /* Required for -webkit-line-clamp to work */
          -webkit-line-clamp: 2; /* Specifies the maximum number of lines */
          -webkit-box-orient: vertical; /* Ensures the box model is vertical */
          line-clamp: 2; /* Standard property for future compatibility */
          line-height: 1em;
          font-size: clamp(20px, 1.8vw, var(--font-sizes-p-lead, 24px));

          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          color: var(--neutral-black, #1e1e1e);
          text-align: center;
          font-family: "Groundnut", "GroundnutTW";

          font-style: normal;
          font-weight: 400;

          letter-spacing: -0.528px;
        }
      }

      .cardDescription {
        margin-top: var(--title-height);

        color: var(--neutral-black, #1e1e1e);
        font-family: "Helvetica Neue";
        font-size: var(--font-sizes-secondary-base, 16px);
        font-weight: 400;
        letter-spacing: -0.352px;
      }
    }
  }
}
