$sectionGap: 90px;
$mobileSectionGap: 40px;

// For Components
.componentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $sectionGap;
  margin-bottom: $sectionGap;
}

// General styles
.title {
  font-size: 48px;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  text-align: center;
}

// Container with padding
.container {
  width: 100%;
  padding: 0 72px;

  .title {
    text-align: left;

    .titleBig {
      font-family: "Sailec Bold", sans-serif;
      letter-spacing: -1.056px;
    }

    .titleSmall {
      margin-left: 8px;
      font-family: "Sailec Italic", sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
  }

  .heading {
    margin-top: $sectionGap;

    .componentContainer {
      width: 100%;
      gap: 50px;
    }
  }

  .memberCount {
    width: 100%;
    padding: 0 108px;

    .subtitle {
      text-align: left;
    }

    .grid {
      margin-top: 32px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .member {
      flex: 0 0 calc(20%);
      border-right: 3px solid var(--darkgray);
      border-bottom: 3px solid var(--darkgray);
      box-sizing: border-box;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .member:nth-child(5n) {
      border-right: none;
    }

    .member:nth-last-child(-n + 5) {
      border-bottom: none;
    }

    @media only screen and (max-width: 640px) {
      .member {
        flex: 0 0 calc(50%);

        &:nth-child(2n) {
          border-right: none;
        }

        &:nth-child(5n) {
          border-right: 3px solid var(--darkgray);
        }

        &:nth-last-child(-n + 5) {
          border-bottom: 3px solid var(--darkgray);
        }

        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }
      }
    }
  }

  .yearCount {
    padding: 0 108px;
    margin-top: $sectionGap;
    margin-bottom: $sectionGap;

    .title {
      text-align: center;
    }
  }
}

.bannerGrid {
  width: 100%;
  height: auto;
  margin-bottom: $sectionGap;
  display: flex;

  .imageContainer {
    min-width: calc(100% / 3);
    width: calc(100% / 3);
    aspect-ratio: 1;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.banner {
  width: 100%;
  height: auto;
  margin-top: $sectionGap;
}

.coreGroup {
  margin-top: $sectionGap;

  .gallery {
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .member {
      width: calc(100% / 13);
      height: 385px;
      position: relative;
      transition: width 0.3s ease;
      cursor: pointer;

      &.expanded {
        width: 300px;
        transition: width 0.3s ease;

        .content {
          .innerContainer {
            opacity: 0;
            animation: fadeIn 0.3s 0.3s ease forwards;
          }
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .shadow {
          opacity: 0;
        }

        .undershadow {
          opacity: 0.4;
        }
      }

      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-left: 1.5px solid var(--darkgray);
        border-right: 1.5px solid var(--darkgray);
      }

      .shadow,
      .undershadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
        opacity: 0;
        transition: 0.1s ease-in all;
      }

      .shadow {
        z-index: 11;
      }
      .undershadow {
        z-index: 9;
      }

      .shadow:hover,
      .undershadow:hover {
        opacity: 0.4;
      }

      .content {
        z-index: 10;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .innerContainer {
          opacity: 0;

          .name {
            margin-top: auto;
            font-size: 24px;
          }

          .position {
            font-size: 14px;
            text-transform: uppercase;
          }

          .name,
          .position {
            text-shadow: 2px 4px 4px rgba(57, 57, 57, 0.25);
            color: var(--white);
          }
        }
      }
    }
  }
}

.otherTestimonies {
  padding: 120px 72px;
  background-color: var(--black);
  color: var(--white) !important;

  .title,
  .subtitle {
    color: var(--white);
  }

  .componentContainer {
    gap: 50px;
  }
}

.otherInfo {
  width: 100%;
  height: 820px;
  position: relative;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title,
    .subtitle {
      color: var(--white);
    }

    .title {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

// 990px (tablet) and 768px (mobile) - where margin or padding is adjusted
@media only screen and (max-width: 990px) {
  .container {
    padding: 0 36px;

    .memberCount {
      padding: 0px;

      .title {
        margin-bottom: 20px;
      }
    }

    .yearCount {
      padding: 0 36px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .componentContainer {
    margin-top: $mobileSectionGap;
    margin-bottom: $mobileSectionGap;
  }

  // General styles
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 20px;
  }

  // Container with padding
  .container {
    padding: 0px;

    .memberCount {
      padding: 0px;

      .title,
      .subtitle {
        padding: 0 36px;
      }

      .grid {
        margin-top: 36px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .bannerGrid {
    margin-bottom: $mobileSectionGap;
  }

  .banner,
  .coreGroup {
    margin-top: $mobileSectionGap;
  }

  .otherTestimonies {
    padding: 80px 36px;
  }

  .otherInfo {
    height: 340px;

    .content {
      padding: 0 36px;

      .title {
        margin-bottom: 20px;
      }

      .buttons {
        flex-direction: column;
      }
    }
  }
}

// 640px and 550px - where font-size and flex-direction is changed
@media only screen and (max-width: 640px) {
  .bannerGrid {
    flex-direction: column;

    .imageContainer {
      min-width: 100%;
      width: 100%;
      height: 250px;
    }
  }

  .coreGroup {
    .gallery {
      flex-direction: column;

      .member {
        width: 100%;
        height: 150px;
        cursor: auto;

        &.expanded {
          width: 100%;

          .content {
            justify-content: center;
            opacity: 1;
            animation: none;
          }
        }

        .image {
          position: absolute;
          object-position: 50% 35%;
          border-top: 3px solid var(--darkgray);
          border-left: none;
          border-right: none;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .name {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  // General styles
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }

  // Container with padding
  .container {
    .title {
      display: flex;
      flex-direction: column;

      .titleSmall {
        font-size: 16px;
      }
    }
  }
}
