$manrope: "Manrope-Medium", sans-serif;
$manrope-bold: "Manrope-Bold", sans-serif;

.testimonialContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    color: var(--dark-grey, #343332);
    font-family: $manrope;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 120%;
  }
}

.testimonialImageContainer {
  border: 5px solid var(--dark_grey);
  border-radius: 100%;
  // overflow: hidden;

  margin: 0 auto;
  max-width: 150px;
  width: 100%;
  aspect-ratio: 1/1;

  background-image: url("/assets/people/testimonial-bg.png");
  background-size: cover;
  position: relative;
}

.testimonialImage {
  position: absolute;
  border-radius: 50%;
  bottom: 0;
}

.sprout {
  position: absolute;
  z-index: -1;
  left: 8px;
  top: -12px;

  width: 36px;
  height: 38px;
}

.testimonialBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quoteIcon {
  border: 1px solid var(--dark_grey);
  padding: 3px 8px;
}
