.cardContainer {
  height: 100%;
  border: 3px solid #393939;

  .none {
    border-right: none !important;
  }

  .image {
    width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: cover;
    border-bottom: 3px solid #393939;
  }

  .cardTextContainer {
    padding: 24px 24px 24px 24px;

    .cardTitle {
      font-family: Sailec, sans-serif;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -1.056px;
      line-height: 1.2em;
      margin-bottom: 10px;
    }

    .cardText {
      font-size: 16px;
      line-height: 24px; /* 150% */
      letter-spacing: -0.352px;
    }
  }
}
@media screen and (max-width: 768px) {
  .cardContainer {
    .cardImg {
      height: 162px;
      width: 100% !important;
    }
    .cardTextContainer {
      padding: 20.4px 16px 16px 16px;
    }
    .cardTitle {
      font-size: 16px;
    }
    .cardText {
      font-size: 14px;
    }
    .cardWidth {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .cardContainer {
    .none {
      border-right: 3px solid #393939 !important;
    }
  }
}
