.speechBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2vh;
  width: 100%;
  max-width: 1000px;

  .bubbleOval {
    background-color: var(--neutral-white, #fbf9f4);
    border-radius: 100px;
    border: 4px solid #1e1e1e;

    @media screen and (max-width: 720px) {
      border-width: 3px;
    }
  }

  .bubble {
    position: relative;
    width: 100%;

    .bubbleContainer:first-child {
      position: absolute;
      transform: rotate(2.489deg);
      opacity: 0.8;
    }

    .bubbleContainer:nth-child(3) {
      top: 0;
      position: absolute;
      transform: rotate(-2.489deg);
      opacity: 0.8;
    }

    .bubbleContainer:nth-child(2) {
      position: relative;
      z-index: 2;
    }

    @media screen and (max-width: 720px) {
      .bubbleContainer:first-child {
        transform: rotate(3.6deg);
      }

      .bubbleContainer:nth-child(3) {
        transform: rotate(-3.6deg);
      }
    }
  }

  .bubbleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 110px;

      @media screen and (max-width: 1000px) {
        height: 90px;
      }

      @media screen and (max-width: 720px) {
        height: 80px;
      }

      .primaryText {
        color: var(--neutral-black, #1e1e1e);
        text-align: center;
        font-family: var(--font-ui);
        font-size: var(--type-about-life-h1);
        font-weight: var(--type-weight-bold);
        letter-spacing: -0.4px;
        text-transform: uppercase;
      }

      .secondaryText {
        color: var(--neutral-black, #1e1e1e);
        padding: 0px 20px;
        text-align: center;
        font-family: var(--font-ui);
        font-size: var(--type-body);
        font-weight: var(--type-weight-regular);
        line-height: 1.4;
        letter-spacing: -0.2px;
        z-index: 10;
      }
    }

    .bubbleTail {
      align-self: flex-end;
      width: 91.147px;
      height: 66.54px;
      margin-top: -30px;
      margin-right: 40px;
      // z-index: -1;

      &::before {
        content: "";
        z-index: 4;
        background-color: var(--neutral-white, #fbf9f4);
        position: absolute;
        width: 78.2px;
        height: 32px;
        border-radius: 100px;
        border: none;
        margin-top: -4px;
        margin-left: -5px;

        @media screen and (max-width: 1000px) {
          width: 80px;
          margin-left: -5px;
        }
      }

      @media screen and (max-width: 720px) {
        width: 64.1px;
        height: 57.5px;
        margin-right: 12px;

        &::before {
          width: 62.2px;
          height: 27px;
          margin-top: -5px;
          margin-left: -13px;
        }
      }
    }

    .bubbleExcess {
      width: 51.65px;
      height: 37.706px;
      align-self: flex-end;

      @media screen and (max-width: 720px) {
        width: 27px;
        height: 24px;
      }
    }
  }

  /* Snoopy */
  .imageContainer {
    position: absolute;
    // top: 40%;
    bottom: 0%;
    left: 12.5%;
    z-index: 999;

    width: clamp(50px, 12vw, 128.387px);
    height: clamp(54px, 18vw, 148px);
    aspect-ratio: 72/83;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
