.org-culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title-caption {
  font-size: 20px;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-family: BeautiqueDisplay-Bold;
  margin: 40px 0px;
}
// TOP CARDS SECTION
/* Base styles */
.text-3xl {
  font-family: Aesthetic;
  color: var(--dark-grey, #343332);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--dark-grey, #343332);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.text-caption {
  color: var(--dark-grey, #343332);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;

  flex: 1 1 calc(33.333% - 50px); /* Adjust for the gap */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  margin-bottom: 50px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .text-3xl {
    font-size: 36px;
  }

  .text-caption {
    font-size: 18px;
  }

  .row {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .text-3xl {
    font-size: 28px;
  }

  .text-caption {
    font-size: 16px;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }

  .column {
    width: 100%;
  }
}

// video
.video {
  margin: 40px;
}
.video-border {
  padding: 20px;
  border: #343332 1px solid;
}

// PROJECTS
.row-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.card-web {
  display: flex;
  padding: 20.904px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* top | right | bottom | left */
  margin: 20px 20px 0px 20px;
  width: 350px;

  border: 2.09px solid var(--dark-grey, #343332);
  background: var(--white, #fff);
}
.card-projects-text {
  color: var(--dark-grey, #343332);
  font-family: Manrope-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}
.card-web-image {
  width: 350px;
  height: 250px;
  border: 2px solid var(--dark-grey, #343332);
  border-top: 0px;
  background-color: #343332;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .row-projects {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header {
  color: var(--dark-grey, #343332);
  text-align: center;
  -webkit-text-stroke-color: var(--dark-grey, #343332);
  font-family: Aesthetic;
  font-size: 60px;
  font-weight: 400;
  line-height: 65px; /* 81.25% */
  text-transform: uppercase;
  margin: 20px;
}
.sub-header {
  color: var(--dark-grey, #343332);
  font-family: "Beautique Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.72px;
}

// FUN STARTS HERE
.fun {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  margin: 60px 0px;
}
.fun-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: var(--light-grey, #ddd);
}
.layout-card-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

//AW
.actWork {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  margin: 60px 0px;
}

// behind the scenes
.behind-scene-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 60px 0px;
  border: 2px solid var(--dark-grey, #343332);
  background: var(--white, #fff);
  width: 90%;
}

.inside {
  display: flex;
  width: 707px;
  padding: 36px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.behind-scene-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 47px 38px;
  height: 400px;
  width: 50%;
  border-left: 2px solid var(--dark-grey, #343332);
  background: var(--light-purple, #f1e6f8);
}

.behind-scene-text {
  color: var(--dark-grey, #343332);
  font-family: "Beautique Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.72px;
}

.behind-scene-button {
  border: 2px solid var(--dark-grey, #343332);
  background: var(--white, #fff);
  backdrop-filter: blur(2px);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: var(--dark-grey, #343332);
  text-align: center;
  font-family: Manrope-Regular;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

.behind-scene-images {
  width: 137px;
  height: 137px;
  flex-shrink: 0;
  border: 2px solid var(--dark-grey, #343332);
  background: var(--light-purple, #f1e6f8);
}
@media (max-width: 1500px) {
  .behind-scene-column {
    height: 100vh;
  }
}
@media (max-width: 964px) {
  .behind-scene-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .inside {
    width: 100%;
    padding: 24px;
    gap: 12px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .behind-scene-column {
    width: 100%;
    height: auto;
    border-left: none;
    border-top: 2px solid var(--dark-grey, #343332);
    padding: 24px;
    align-items: center;
  }
}
