.root {
  position: relative;

  .background {
    position: absolute;
    z-index: -1;
    height: 100%;

    .bg_img {
      display: block;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      min-height: 100vh;
    }
  }

  .overlay {
    background:
      radial-gradient(98.88% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    z-index: 1;
    width: 100vw;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    // margin-bottom: calc(var(--footer-height) * -1);
  }
}

.intro_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  color: var(--white);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;

    .resultIcon {
      width: auto;
      height: 250px;
      object-fit: cover;
      margin-bottom: 20px;

      @media screen and (max-width: 800px) {
        height: 200px;
      }

      @media screen and (max-width: 500px) {
        height: 175px;
      }
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    h2 {
      font-family: "Groundnut", "GroundnutTW", sans-serif;
      text-align: center;
      color: var(--neutral-white, #fbf9f4);
      text-shadow: -2px 2px 0 var(--neutral-black, #1e1e1e);
      font-size: 24px;
    }

    .subheading {
      margin-bottom: 60px;
    }

    h1 {
      font-family: "Snoopy", sans-serif;
      text-align: center;
      font-size: 92px;
      text-transform: uppercase;
      color: var(--neutral-white);
      margin-bottom: -5px;
      max-width: 800px;
    }

    .quizResultHeading {
      font-size: 60px;
      text-shadow: -2px 2px 0 var(--neutral-black, #1e1e1e);
    }

    .description {
      margin: 60px 0px;
      width: 768px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        text-align: center;
        color: white;
        font-family: "Helvetica Neue", sans-serif;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
        font-size: 18px;
        line-height: 110%; /* 19.8px */
        letter-spacing: 0.36px;
      }
    }

    .resultDescription {
      margin: 40px 0px;

      @media screen and (max-width: 800px) {
        margin: 20px 0px !important;
      }

      p {
        white-space: pre-line;
      }
    }

    .rail {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 15px;
      align-items: center;

      .button {
        width: 100%;
        max-width: 400px;
      }
    }

    .maxWidth {
      max-width: 400px;
    }
  }
}

@media (min-width: 1200px) {
  .intro_container {
    .content {
      .subheading {
        font-size: 32px;
      }
      .largerHeading {
        font-size: 120px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .intro_container {
    .content {
      .resultIcon {
        // width: 120px;
      }

      .header {
        gap: 10px;
      }

      h1 {
        font-size: 70px;
      }

      .quizResultHeading {
        font-size: 48px;
      }

      .description {
        width: 100%;

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .intro_container {
    padding: 50px 32px;

    .content {
      .resultIcon {
        // width: 100px;
      }

      h1 {
        font-size: 60px;
        -webkit-text-stroke-width: 0;
      }

      h2 {
        font-size: 32px;
      }

      .subheading {
        margin-bottom: 40px;
      }

      .quizResultHeading {
        font-size: 48px;
      }

      .description {
        margin: 40px 0px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .intro_container {
    .content {
      h1 {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 460px) {
  .intro_container {
    .content {
      h1 {
        font-size: 36px;
      }

      .largerHeading {
        font-size: 48px;
        margin-bottom: 10px;
      }

      .quizResultHeading {
        font-size: 32px;
      }
    }
  }
}

.black_n_white {
  --border-color: var(--neutral-dark-gray);
  --foreground-color: var(--neutral-dark-gray);
  --background-color: var(--neutral-white);

  --hover-border-color: var(--neutral-dark-gray);
  --hover-foreground-color: var(--neutral-dark-gray);
  --hover-background-color: var(--neutral-gray);
  --text-shadow: none;
  --font-family: Manrope-Medium, sans-serif;
}

.glass {
  --border-color: white;
  --foreground-color: white;
  --background-color: rgba(121, 163, 158, 0.5);

  --hover-border-color: white;
  --hover-foreground-color: white;
  --hover-background-color: rgba(60, 119, 136, 0.5);
  --text-shadow: 2px 2px #00000040;
  --font-family: Manrope-Bold, sans-serif;
}

.button {
  height: 100%;
  border: 2px solid var(--border-color);
  width: fit-content;
  background: linear-gradient(to bottom, var(--hover-background-color) 50%, var(--background-color) 50%);
  background-size: 100% 200%;
  background-position: left bottom;

  color: var(--foreground-color);
  text-decoration: none;
  cursor: pointer;
  text-shadow: var(--text-shadow);
  transition: all ease 0.3s;

  padding: 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    background-position: right top;
    color: var(--hover-foreground-color);
  }
}

.maxWidth {
  width: 100%;
}

.small {
  padding: 12px 24px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 12px 24px;
    font-size: 16px;
  }
}
