.root {
  position: relative;

  .background {
    position: absolute;
    z-index: -1;
    height: 100%;

    .bg_img {
      display: block;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      min-height: 100vh;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100vw;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
  }
}

.intro_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  color: var(--white);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;

    .resultIcon {
      width: 150px;
      height: auto;
      object-fit: coer;
      margin-bottom: 20px;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    h2 {
      font-family: BeautiqueDisplay-Light, sans-serif;
      text-align: center;
      text-shadow: 3.5px 3.5px 0px rgba(0, 0, 0, 0.5);
      font-size: 24px;
    }

    h1 {
      font-family: "Aesthetic", sans-serif;
      text-align: center;
      text-shadow: 3.5px 3.5px 0px rgba(0, 0, 0, 0.5);
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: var(--white);
      font-size: 90px;
      text-transform: uppercase;
    }

    .quizResultHeading {
      font-size: 60px;
    }

    .description {
      margin: 60px 0px;
      width: 768px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        text-align: center;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        font-family: "Manrope-SemiBold", sans-serif;
        font-size: 18px;
        line-height: 110%; /* 19.8px */
        letter-spacing: 0.36px;
      }
    }

    .resultDescription {
      margin: 40px 0px;
    }

    .rail {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 15px;
      align-items: center;

      .button {
        width: 100%;
        max-width: 400px;
      }
    }

    .maxWidth {
      max-width: 400px;
    }
  }
}

@media (max-width: 1024px) {
  .intro_container {
    .content {
      .resultIcon {
        width: 120px;
      }

      .header {
        gap: 10px;
      }

      h1 {
        font-size: 70px;
      }

      .quizResultHeading {
        font-size: 48px;
      }

      .description {
        width: 100%;

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .intro_container {
    padding: 50px 32px;

    .content {
      .resultIcon {
        width: 100px;
      }

      h1 {
        font-size: 60px;
        -webkit-text-stroke-width: 0;
      }

      h2 {
        font-size: 20px;
      }

      .quizResultHeading {
        font-size: 32px;
      }

      .description {
        margin: 40px 0px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .intro_container {
    .content {
      h1 {
        font-size: 36px;
      }

      .quizResultHeading {
        font-size: 32px;
      }
    }
  }
}
