.r101MainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .stepContainer {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: flex-end;
    gap: 2.3rem;
    border-bottom: 1px solid var(--dark_grey);
  }
}
