$dark-grey: #343332;

.r101MainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .mainStepContainer {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: flex-end;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: $dark-grey;
  }
}
