@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: #fbf9f4;
  background-image: linear-gradient(rgba(251, 249, 244, 0.5), rgba(251, 249, 244, 0.5)), url("/assets/py18/error/bg_wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 2.5em;
}

.content {
  max-width: 600px;
  width: 100%;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  
}

.window {
  background: white;
  border-radius: 0.5em;
  border: 2px solid #943C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

// 2. Top header bar
.errorHeader {
  width: 100%;
  background: linear-gradient(to bottom, #A83268, #713458 100%);
  color: white;
  padding: 0.75em;
  font-weight: 700;
}

// 3. Keep Calm 
.errorEmblem {
  padding: 1em;
  font-size: 3rem;
  font-weight: 700;
}

// 4. Error message
.errorMessage {
  max-width: 55ch;
  color: #4D4D4D;
  padding: 1em;
}

.errorSubheader {
  font-weight: 700;
  color: #A83268;
  font-size: clamp(18px, calc(6px + 1dvw), 1.5rem);
  margin-bottom: 0.25rem;
}

.errorText {
  font-size: clamp(16px, calc(4px + 0.5dvw), 1.25rem);
}



// 5. Buttons
.buttonGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 0.25em;
  margin-top: 2em;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.button {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease, transform 0.15s ease;

  &:hover {
    background-position: 0 0;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.95);
  }
}

.buttonIcon {
  font-size: 14px;
  width: 16px;
  height: 16px;
  color: #ffffff;
  fill: #ffffff;
}

.homeButton {
  background-image: linear-gradient(to right, #ff3c71 50%, #FF2761 50%);
}

.aboutButton {
  background-image: linear-gradient(to right, #dc1c96 50%, #D50B8A 50%);
}
