.anchor {
  display: block;
}

.buttonContainer {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: -10px;

  border: 3.5px solid #e5e5e5;
  background: #f5f5f5;

  font-family:
    Sailec bold,
    sans-serif;
  font-size: 20px;
  letter-spacing: -0.44px;
  line-height: normal;
  &:hover {
    background-color: #e5e5e5;
    transition: 200ms ease-in-out;
  }

  @media screen and (max-width: 768px) {
    padding: 7.2px 12.96px;
    border: 1.55px solid #e5e5e5;
    gap: 4.30304px;
    align-self: stretch;
    font-size: 16px;
    letter-spacing: -0.18896px;
  }
}
