.black_n_white {
  --border-color: var(--dark_grey);
  --foreground-color: var(--dark_grey);
  --background-color: white;

  --hover-border-color: white;
  --hover-foreground-color: white;
  --hover-background-color: var(--dark_grey);
  --text-shadow: none;
  --font-family: Manrope-Medium, sans-serif;
}

.glass {
  --border-color: white;
  --foreground-color: white;
  --background-color: rgba(121, 163, 158, 0.5);

  --hover-border-color: white;
  --hover-foreground-color: white;
  --hover-background-color: rgba(60, 119, 136, 0.5);
  --text-shadow: 2px 2px #00000040;
  --font-family: Manrope-Bold, sans-serif;
}

.button {
  height: 100%;
  border: 2px solid var(--border-color);
  width: fit-content;
  background-color: var(--background-color);
  color: var(--foreground-color);
  text-decoration: none;
  cursor: pointer;
  text-shadow: var(--text-shadow);
  transition: 150ms ease-in-out all;

  padding: 24px;
  font-family: var(--font-family);
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-foreground-color);
  border-color: var(--hover-border-color);
  transition: 150ms ease-in-out all;
}

.maxWidth {
  width: 100%;
}

.small {
  padding: 12px 24px;
}

@media screen and (max-width: 700px) {
  .button {
    padding: 12px 24px;
    font-size: 14px;
  }
}
