.buttonContainer {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3.5px solid #e5e5e5;
  background: #f5f5f5;
  font-family: Sailec bold, sans-serif;
  font-size: 1.25rem;
  &:hover{
    background-color: #e5e5e5;
    transition: 200ms ease-in-out;
  }
}
