.cardContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 20px;
  .none {
    border-right: none !important;
  }
  .cardImg {
    border: 3px solid #393939;
    border-bottom: none;
    width: 300px;
    height: 200px;
    background-size: cover;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardTextContainer {
    display: flex;
    width: 300px;
    padding: 30px 20px 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border: 3px solid #393939;

    .cardTitle {
      width: 256px;
      font-family: Sailec bold, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.528px;
    }

    .cardText {
      width: 256px;
      font-family: Sailec, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.352px;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .cardContainer {
  .none {
    border-right: 3px solid #393939!important;
  }}
}