@media screen and (max-width: 768px) {
    .cardContainer{
      max-width: 15rem;
      padding: 0.5rem;
      .cardImg{
        height: 10.125rem;
      }
      .cardTextContainer{
        padding: 1.275rem 1rem 1rem 1rem;
      }
      .cardTitle{
        font-size: 1rem;    
      }
      .cardText{
        font-size: 0.875rem;
      }
    } 
}

.cardContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem;
  width: 19rem;
  .cardImg {
    border: 3px solid #393939;
    border-bottom: none;
    width: 110%;
    height: 15rem;
    flex-shrink: 0; 
    background-size: cover;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardTextContainer {
    display: flex;
    width: 110%;
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
    border: 3px solid #393939;

    .cardTitle {
      font-family: Sailec bold, sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.033rem;
    }

    .cardText {
      font-family: Sailec, sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; /* 150% */
      letter-spacing: -0.022rem;
    }
  } 
  
}


