/* Error page variables */
$beautique-bold: "BeautiqueDisplay-Bold", sans-serif;
$beautique-medium: "BeautiqueDisplay-Medium", sans-serif;
$manrope: "Manrope-Regular", sans-serif;

.errorPageContainer {
  font-family: $manrope;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .errorPageContent {
    height: 40%;
  }

  .errorMessage {
    display: flex;
    justify-content: center;
    font-family: $beautique-bold;
    font-size: 10rem;

    .errorImage {
      position: relative;
      width: 156px;
      height: 191px;
    }
  }
  .errorText {
    text-align: center;
    font-family: $beautique-medium;
    font-size: 1.1rem;
  }
  .errorBtnContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
