/* Error page variables */
$beautique-bold: "BeautiqueDisplay-Bold", sans-serif;
$beautique-medium: "BeautiqueDisplay-Medium", sans-serif;
$aesthetic: "Aesthetic", sans-serif;
$manrope: "Manrope-Regular", sans-serif;
$dark-grey: #343332;

.errorPageContainer {
  font-family: $manrope;
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 10vw;

  .errorPageContent {
    height: 40%;
  }
  .errorMain {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .errorMessage {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $aesthetic;
      font-size: 12rem;

      .errorImg {
        width: 7rem;
        height: 8rem;
        margin: 0 1rem 1.8rem;
        object-fit: contain;
      }
    }
    .errorText {
      align-self: center;
      text-align: center;
      font-family: $beautique-medium;
      font-size: 1.3rem;
      max-width: 400px;
    }
  }
  .errorBtnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .errorPageContainer {
    .errorMain {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .errorText {
        font-size: 1rem;
        max-width: 350px;
      }
      .errorMessage {
        font-size: 8rem;

        .errorImg {
          width: 5rem;
          height: 6rem;
        }
      }
    }

    .errorBtnContainer {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .errorPageContainer {
    .errorMain {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .errorText {
        font-size: 0.95rem;
        max-width: 250px;
      }
      .errorMessage {
        font-size: 6rem;

        .errorImg {
          width: 4rem;
          height: 5rem;
        }
      }
    }
  }
}
