$manrope: "Manrope", sans-serif;
$white: #ffffff;
$dark-grey: #343332;
$light-grey: hsl(30, 2%, 30%);

.footer {
  height: 53px;

  .inner {
    max-width: 1300px;
    padding: 16px 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 24px;

      font-family: Manrope-Medium, sans-serif;
      font-size: 14px;

      a {
        color: black;
        text-decoration: none;
        padding-bottom: 0px;
        border-bottom: 2px solid transparent;
      }

      a:hover {
        border-bottom: 2px solid black;
      }
    }

    .right {
      display: flex;
      gap: 12;
      color: black;
    }
  }
}
