$black: #000000;
$white: #ffffff;
$dark-grey: #343332;
$light-grey: #dddddd;
$light-yellow: #fff9e5;
$pale-pink: #ffe1e2;
$dark-green: #38504a;
$dark-purple: #392b42;
$aesthetic: "Aesthetic";
$manrope: "Manrope", sans-serif;

.header {
  width: 100%;
  padding: 30px 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  .nav {
    margin: 0px auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    gap: 60px;

    a {
      font-family: Manrope-Bold, sans-serif;
      text-decoration: none;
      color: black;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      border-bottom: 2px solid black;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 40px 20px;
    .nav {
      gap: 20px;
    }
  }
}
