.quoteContainer {
  display: inline-flex;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 35px;

  .quoteTextContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
    gap: 22px;

    .quoteText {
      font-family: Sailec;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      letter-spacing: -0.4px;
    }

    .quoteAuthor {
      font-family: Sailec;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      letter-spacing: -0.4px;
    }
  }

  .quoteImg {
    width: auto;
    height: 275px;
    padding: 0;
  }
}
