.quoteContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 60px;

  .quoteTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    font-family: "Sailec", sans-serif;
    font-size: 20px;
    line-height: 30px; /* 150% */
    flex: 7;
  }

  .quoteImg {
    flex: 3;
    min-width: 200px;
    width: 100%;
    height: auto;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .quoteContainer {
    flex-direction: column-reverse !important;
    justify-items: center;
    gap: 20px;
    margin-bottom: 60px;

    .quoteTextContainer {
      font-size: 18px;
    }
  }
}
