.quoteBlockContainer {
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-sizes-base, 20px);
  line-height: 30px;
  letter-spacing: -0.4px;

  .quoteContent {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    flex-wrap: wrap;

    .imageWrapper {
      width: 273px;
      height: auto;
      flex-shrink: 0;

      .quoteImage {
        width: 100%;
        height: auto;
        display: block;
        transform: rotate(-8deg);
      }
    }
  }

  @media (max-width: 900px) {
    .quoteContent {
      flex-direction: column !important;
      align-items: center;
    }
  }
}

.imageRight {
  .quoteContent {
    flex-direction: row-reverse;

    .quoteImage {
      transform: rotate(8deg);
    }
  }
}

.textContainer {
  flex: 1;
  color: var(--neutral-black, #1e1e1e);

  .quoteText {
    margin: 0 0 1rem;
    position: relative;

    color: var(--neutral-black, #1e1e1e);
    font-family: "Helvetica Neue";
    font-size: var(--font-sizes-base, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    align-self: stretch;
    text-align: justify;

    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }

  .authorInfo {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .signatureImage {
      width: 144px;
      height: auto;
      display: inline-block;
      margin-right: -50px;
      margin-bottom: -8px;
    }

    .authorDetails {
      font-family: "Inter", sans-serif;
      font-size: var(--font-sizes-base, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: -0.4px;
      color: var(--neutral-black, #1e1e1e);
    }
  }
}
