.quoteBlock {
  display: flex;
  flex-direction: column;
  font-family: Manrope-Regular;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.quoteIcon {
  width: 10px;
  height: 10px;
}

.quoteBox {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border: 1px solid var(--dark-grey, #343332);
  background: var(--white, #fff);
}

.authorContainer {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.authorText {
  color: var(--dark-grey, #343332);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 16.8px */
  font-family: Manrope-Medium, sans-serif;
}

.authorPosition {
  color: var(--dark-grey, #343332);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  font-family: Manrope-Medium, sans-serif;
}

.testimonialText {
  color: var(--dark-grey, #343332);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}

.testimonialContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  align-self: stretch;

  article {
    p {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: Manrope-Medium, sans-serif;
    }

    em {
      font-style: normal;
    }

    strong {
      font-family: Manrope-Bold, sans-serif;
      font-size: 16px;
    }
  }
}

.quoteImage {
  aspect-ratio: 1/1;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.sprout {
  position: absolute;
  z-index: -1;
  left: 8px;
  top: -12px;

  width: 36px;
  height: 38px;
}

.testimonialImageContainer {
  border: 5px solid var(--dark_grey);
  border-radius: 100%;
  // overflow: hidden;

  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1/1;

  background-image: url("/assets/people/testimonial-bg.png");
  background-size: cover;
  position: relative;
}

.testimonialImage {
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  height: auto;
}

@media screen and (min-width: 850px) {
  .quoteBlock {
    flex-direction: row;
    gap: 50px;
  }
  .alignRight {
    flex-direction: row-reverse;
  }

  .testimonialText {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
  }

  .authorText {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 24px */
  }

  .authorPosition {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
  }

  .quoteIcon {
    width: 20px;
    height: 20px;
  }

  .quoteImage {
    aspect-ratio: 1/1;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 600px) {
  .testimonialContainer {
    article {
      p {
        margin-bottom: 20px;
        font-size: 14px;
      }

      strong {
        font-size: 14px;
      }
    }
  }
}
