// RepeatingIcons.module.scss

.ghibli_icons_layout {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ghibli_icons_scroller {
  display: flex;
  align-items: center;
}

.ghibli_icons {
  display: inline-block;
  margin-right: 10px; // Adjust spacing as needed
}
