.repeatTitle {
  display: flex;
  gap: clamp(10px, 2vw, 2em);
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 3em;
}

.title {
  font-size: 6rem; // this size could be adjusted later
  font-weight: lighter;
}

.title.highlighted {
  color: black !important;
}

@supports(-webkit-text-stroke: 1px black){
  .title:not(.highlighted){
      color: transparent;
      -webkit-text-stroke: 1px black;
      text-shadow: none;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 2.5rem;
  }
}