.repeatTitle {
  display: flex;
  gap: clamp(10px, 2vw, 2em);
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 3em;

  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  font-size: clamp(1.25rem, 8.5vw, 8.5vw); // this size could be adjusted later
  font-weight: lighter;
  font-family: Aesthetic, serif;
}

.title.highlighted {
  color: var(--dark_grey) !important;
}

@supports (-webkit-text-stroke: 1px var(--dark_grey)) {
  .title:not(.highlighted) {
    color: transparent;
    -webkit-text-stroke: 1px var(--dark_grey);
    text-shadow: none;
  }
}
