.titleContainer {
  position: relative;
  height: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mainTitle {
    position: absolute;
    color: #f0f0f0;
    text-align: center;
    font-family: CarlaSans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.408px;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  @media (max-width: 768px) {
    .mainTitle {
      font-size: 48px;
    }
  }
  @media (max-width: 480px) {
    .mainTitle {
      font-size: 32px;
    }
  }

  .subTitle {
    position: absolute;
    bottom: 0;
    color: var(--darkgray);
    font-size: 48px;
    letter-spacing: -1.056px;
    z-index: 2;
  }

  @media (max-width: 768px) {
    .subTitle {
      font-size: 36px;
      bottom: 10px;
    }
  }
  @media (max-width: 480px) {
    .subTitle {
      font-size: 24px;
      bottom: 20px;
    }
  }
}
