
.mainTitle {
  color: #f0f0f0;
  text-align: center;
  font-family: CarlaSans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.408px;
  z-index: 1;
}
.subTitle {
  bottom: -10px;
  right: 20%;
  position: relative;
  color: #393939;
  text-align: center;
  font-family: Sailec;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.056px;
  z-index: 2;
}
