.fullDots {
  --dot-bg: #fbf9f4;
  --dot-color: #aea69d34;
}

.subtleDots {
  --dot-bg: transparent;
  --dot-color: #aea69d20;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  overflow-x: hidden;

  background-image: radial-gradient(var(--dot-color) 2px, transparent 0px);
  background-repeat: repeat; /* or omit this declaration */
  background-size: 8px 8px;
  background-position: center;

  main {
    flex: 1;
  }
}

.header {
  background-color: var(--neutral-white, #fbf9f4);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);

  .inner {
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .logo {
      img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }
    }

    .nav {
      margin-left: 10px;
      flex: 1;
      display: flex;
      max-width: 800px;

      @media screen and (max-width: 1350px) {
        max-width: 600px;
      }
    }
  }

  border-bottom: 2px solid black;
  transform: translateY(0%);
  transition: 300ms all ease-in-out;

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.miniHeader {
  border-bottom: 2px solid transparent;

  .inner {
    justify-content: center;
  }
}

.transparentHeader {
  .main {
    margin-top: 0px;
  }

  .header {
    background: transparent;
  }
}

.mobile {
  display: none;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);

  .inner {
    padding: 10px 20px;
    width: 100%;
  }

  @media screen and (max-width: 850px) {
    display: flex;
  }
}

.overlappingMini {
  .header {
    @media screen and (max-width: 850px) {
      --header-height: 100px;
      display: block;
    }

    @media screen and (max-width: 670px) {
      --header-height: 90px;
      display: none;
    }
  }
  .mobile {
    @media screen and (max-width: 850px) {
      display: none;
    }

    @media screen and (max-width: 670px) {
      display: flex;
    }
  }
}

.main {
  margin-top: var(--header-height);
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  z-index: 5;
}

.footer {
  background-color: var(--neutral-white, #fbf9f4);
  --footer-fg: var(--neutral-black, #1e1e1e);
  z-index: 10;
}

.transparentFooter {
  .main {
    margin-bottom: calc(-1 * var(--footer-height));
  }

  .footer {
    background-color: transparent;
    --footer-fg: var(--neutral-white, #fbf9f4);
  }
}

.disabledFooter {
  --footer-height: 0px;
}

.nav-bar--hidden {
  transform: translateY(-150%);
  transition: 300ms all ease-in-out;
}
