.appProcessStep {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  width: 241px;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  outline: 2px solid red;
  padding: 2rem;

  .appProcessNum,
  .appProcessTitle {
    font-size: 1.8rem;
    font-family: Aesthetic, serif;
  }

  .appProcessNum {
    border: 1px solid red;
    border-radius: 50%;
  }
}
