.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.smallGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
