.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.card {
  grid-column: span 2;
  background: var(--about-neutral-white, #fff);
  border: 1px solid;
  border-radius: 12px;
  overflow: hidden;
  color: var(--about-neutral-black, #1e1e1e);

  &:nth-child(-n+2) {
    grid-column: span 3;
  }

  &:nth-child(3) {
    grid-column: span 6;
  }
}

.tag {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 14px;
}

.card:first-child .tag {
  background: linear-gradient(180deg, rgba(255, 166, 51, 0.95) 0%, rgba(184, 102, 10, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.card:nth-child(2) .tag {
  background: linear-gradient(180deg, rgba(97, 145, 237, 0.95) 0%, rgba(47, 86, 159, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.card:nth-child(3) .tag {
  background: linear-gradient(180deg, rgba(84, 196, 84, 0.95) 0%, rgba(37, 126, 37, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.card:nth-child(4) .tag {
  background: linear-gradient(180deg, rgba(66, 199, 255, 0.95) 0%, rgba(22, 129, 194, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.card:nth-child(5) .tag {
  background: linear-gradient(180deg, rgba(255, 64, 64, 0.95) 0%, rgba(175, 20, 20, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.card:nth-child(6) .tag {
  background: linear-gradient(180deg, rgba(128, 110, 247, 0.95) 0%, rgba(71, 57, 167, 0.7) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.7);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  min-height: 110px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.value {
  font-family: var(--font-oswald), sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.description {
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  
}

.valueGroup {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.card:nth-child(3) .body {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.websiteBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.websiteBodyMobile {
  display: none;
}

.websiteIcons {
  display: flex;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
  margin-bottom: 4px;

  img {
    border-radius: 12px;
    border: 2px solid #2E9E2E;
    object-fit: cover;
  }
}

.websiteIcon {
  display: block;
  border-radius: 4px;
  transition: opacity 150ms ease;

  &:hover {
    opacity: 0.75;
  }
}

.footer {
  border-top: 1px solid var(--about-neutral-light, #e4e2e6);
  padding: 10px;
  background: #F7F7F7;
}

.link {
  font-size: 0.65rem;
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .grid {
    gap: 16px ;
  }

  .body{
    display: block;
    display: flex;
    align-items: start;
    padding: 20px;
  }

  .card:nth-child(3) {
    border-radius: 0;
  }

  .websiteBody {
    display: none;
  }

  .websiteBodyMobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    img {
      border-radius: 12px;
      border: 2px solid #2E9E2E;
      object-fit: cover;
    }
  }

  .websiteIconsRowMobile {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .websiteIconsFirstTwo {
    display: flex;
    gap: 12px;
  }

   .valueGroup {
    justify-content: end;
    gap: 8px;
  }

  .websiteIconsRest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }


  .card:nth-child(4) .content .value, .card:nth-child(5) .body .value, 
  .card:nth-child(6) .body .value {
    max-height: 80px;
    font-size: 24px;
  }

}
