.container {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;

}
#logo-container {
  width: 30%;
  display: grid;
  place-items: center;
}
.main-heading {
  font-size: 43px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 110px;
  padding-top: 50px;
}

.container p {
  font-size: 23px;
  line-height: 27px;
  color: white;
  padding-left: 110px;
  font-weight: 500;
}


#statement-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
  padding-bottom: 150px;
  padding: 60px;
}

.sub-heading {
  font-size: 48px;
  /* color: white; */
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 150px;
  -webkit-text-stroke: 3px black;
  -webkit-text-fill-color: white;
}

.redirect-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

#departments {
  background-image: url("../public/static/thumbnail6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
}

#people {
  background-image: url("../public/static/thumbnail1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
}

#culture {
  background-image: url("../public/static/thumbnail2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
  transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
  .hero-container { 
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  #logo-container { 
    width: 100%;
    
  }

  #statement-container { 
    width: 100%;
  }

  .main-heading {
    font-size: 40px;
    padding-left: 50px;
    padding-top: 30px;
  }

  .sub-heading { 
    font-size: 80px;
  }

  .container p {
    font-size: 23px;
    padding-left: 50px;
  }

  .redirect-container {
    flex-direction: column;
  }
  
  #departments { 
    width: 100%;
    height: 100vh;
  }

  #people { 
    width: 100%;
    height: 100vh;
  }

  #culture { 
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {

  .sub-heading { 
    font-size: 60px;
  }

  .main-heading { 
    font-size: 32px;
  }

  #logo-container img { 
    width: 30%;
  }
  
}

@media only screen and (max-width: 425px) {
  .sub-heading {
    font-size: 40px;
  }
}

@media only screen and (max-height: 940px){
  #logo-container > img { 
    max-width: 225px;
  }
}
@media only screen and (max-height: 735px){
  #logo-container > img { 
    max-width: 175px;
  }
  .main-heading {
    font-size: 33px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 110px;
    padding-top: 50px;
  }
  .container p {
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding-left: 110px;
    font-weight: 500;
  }
}
@media only screen and (max-height: 650px){
  #logo-container > img { 
    max-width: 150px;
  }
  .main-heading {
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 110px;
    padding-top: 50px;
  }
  .container p {
    font-size: 16px;
    line-height: 12px;
    color: white;
    padding-left: 110px;
    font-weight: 500;
  }
}

