.About { 
  --fs-48px: 48px;
  --fs-50px: 50px;
  --fs-25px: 25px;
  overflow: hidden;
}
@media (max-width: 1200px) { 
  .About { 
    --fs-48px: 45px;
    --fs-50px: 47px;
    --fs-25px: 22px;
  }
}
@media (max-width: 1000px) { 
  .About { 
    --fs-48px: 40px;
    --fs-50px: 42px;
    --fs-25px: 17px;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 800px) { 
  .About { 
    --fs-48px: 35px;
    --fs-50px: 37px;
    --fs-25px: 15px;
  }
}

.container {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(50vh - 80px);
  margin-top: 80px;
}
#logo-container {
  width: 40%;
  display: grid;
  place-items: center;
}
.main-heading {
  font-size: var(--fs-48px);
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 110px;
  padding-top: 50px;
}

.container p {
  font-size: var(--fs-25px);
  line-height: 27px;
  color: white;
  padding-left: 110px;
  font-weight: 500;
}


#statement-container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
  height: 100%;
}

.sub-heading {
  font-size: var(--fs-50px);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 150px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  text-shadow: 2px 2px black;
  filter: drop-shadow(2px 18px 13px #000);
}

.redirect-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

#departments {
  background-image: url("../public/static/thumbnail6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
  transition: 0.5s;
}
#departments:hover { 
  z-index: 999;
  background-image: url("../public/static/thumbnail4.png");
  transition: 0.5s;
  transform: scale(1.05);
}

#people {
  background-image: url("../public/static/thumbnail1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
  transition: 0.5s;
}
#people:hover { 
  z-index: 999;
  background-image: url("../public/static/thumbnail10.png");
  transition: 0.5s;
  transform: scale(1.05);
}

#culture {
  transition: 0.5s;
  background-image: url("../public/static/thumbnail2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 28px 0px 0px 28px;
  width: calc(100vw / 3);
  cursor: pointer;
}
#culture:hover { 
  z-index: 999;
  background-image: url("../public/static/thumbnail9.png");
  transition: 0.5s;
  transform: scale(1.05);
}

@media screen and (max-height: 900px) { 
  #logo-container > img { 
    max-width: 180px;
    object-fit: contain;
  }
  #statement-container {
    gap: 10px;
  }
  
}

@media (max-width: 768px) { 
  .hero-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
  #logo-container {
    width: 100%;
    height: 30%;
    display: grid;
    place-items: center;
  }
  .main-heading {
    margin: 0;
    padding: 0;
  }
  .container p {
    padding: 0;
  }
  #statement-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
    padding: 0 30px 0 30px;
  }
  
  .redirect-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  #departments {
    background-image: url("../public/static/thumbnail6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 28px 0px 0px 28px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
  }
  #people {
    background-image: url("../public/static/thumbnail1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 28px 0px 0px 28px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
  }
  #culture {
    transition: 0.5s;
    background-image: url("../public/static/thumbnail2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 28px 0px 0px 28px;
    width: 100%;
    cursor: pointer;
  }
}
