.culture { 
    margin-top: 100px;
}
.culture > section { 
    margin-bottom: 30px;
}
.header { 
    width: 90%;
    margin: auto;
    min-height: 90vh;
}
.showcase-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-bottom: 90px;
}
.showcase-text-container { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.showcase-title {
    font-size: 5em;
}
.showcase-paragraph {
    font-size: 1.5em; 
    font-weight: 500;
    overflow-wrap: break-word;
    padding-left: 100px;
}
.showcase-image-container { 
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.showcase-image { 
    max-width: 80%;
    max-height: 100%;
}
.header-bottom-section { 
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.header-bottom-section > h2 { 
    font-size: 1.8em;
    margin-bottom: 30px;
}
.header-cards-container { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.header-card { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    padding: 15px 15px 15px 0px;
    overflow-wrap: break-word;
}
.header-card-title { 
    font-size: 2.3em;
}
.header-card-paragraph { 
    font-size: 1.5em;
}

.testimonial-section { 
    background-color: #D9D9D9;
}
.testimonial-section-wrapper { 
    min-height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-text-container { 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    padding: 60px 120px 60px 0px;
}
.testimonial-text-container > p { 
    font-size: 1.5em;
    font-weight: 500;
}
.testimonial-text-container > small { 
    font-size: 1.4em;
}
.testimonial-image-container { 
    width: 30%;
    display: grid;
    place-items: center;
}
.testimonial-image-container > img { 
    object-fit: contain;
    max-width: 100%;
    border-radius: 40px;
    box-shadow: 11px 10px 29px 1px rgba(0, 0, 0, 0.5);
}

.content-container { 
    width: 90%;
    margin: auto;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.title-container { 
    font-size: 2.5em;
    width: 100%;
    text-align: start;
    padding: 30px 0px 30px 0;
}
.card-container { 
    flex: 2;
    width: 100%;
    display: grid;
    place-items: center;
}
.card-wrapper { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    max-width: 20vw;
    min-width: 300px;
}
.landscape-card { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    max-width: 40%;
}
.card > img { 
    width: 100%;
}
.landscape-card > img { 
    width: 100%;
}
.card-title-container { 
    text-align: start;
    width: 100%;
}
.card-title-container > h3 { 
    font-weight: 500;
    font-size: 1.8em;
}
.card-text-container { 
    text-align: start;
}
.card-text-container > p { 
    font-size: 1.5em;
}

.people-showcase { 
    min-height: 50vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 30px;
}
.people-text-container { 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.people-text-container > h2 { 
    font-size: 2.6em;
    font-weight: 500;
}
.people-text-container > button { 
    font-size: 1.5em;
    padding: 15px 30px 15px 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px black solid;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;;
}
.people-container { 
    width: 60%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(4, 0.3fr);
    place-items: center;
    gap: 10px;
}
.people { 
    max-width: 240px;
    border-radius:100%;
    box-shadow: 0px 7px 7px black;
}

.bottom-text {
    left: 50%;
    top: 50%;   
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;  
}
.bottom-title {
    font-size: 3.3em; 
}

.bottom-banner { 
    min-height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../public/static/What\ Do\ You\ Say\ Banner\ 2\ Blurred\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.banner-text > h2 { 
    text-align: center;
    font-size: 3.3em;
}
.bottom-banner-buttons-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bottom-banner-buttons{
    background-color: transparent;
    border: 2.5px solid;
    border-radius: 25px;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;   
    margin: 4px 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s;
}

.bottom-banner-buttons:hover { 
    transition: 0.3s;
    background-color: #FFFD;
    backdrop-filter: blur(10px) saturate(260%) contrast(180%);
    transform: scale(1.1); 
}

@media only screen and (max-width:1567px) {
    .people { 
        max-width: 150px;
    }
}

@media only screen and (max-width:1200px) {
    .people-showcase { 
        flex-direction: column;
    }
    .people-text-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }
    .people-container {
        width: 100%;
    }
}

@media only screen and (max-width: 968px) { 
    .header-card { 
        width: 100%;
    }
    .showcase-container {
        display: block;
    }
    .showcase-text-container {
        width: 100%;  
    }
    .showcase-paragraph {
        padding: 0
    }
    .showcase-title { 
        width: 50%;
    }
    .showcase-image-container { 
        height: auto;
        position: absolute;
        top: 10vh;
        right: 0;
    }
    .showcase-image { 
        height: 200px;
    }
    .testimonial-section-wrapper { 
        flex-direction: column;
    }
    .testimonial-text-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        order: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .testimonial-image-container { 
        width: 80%;
        padding: 30px;
     
    }
    .landscape-card { 
        min-width: 100%;
        margin-bottom: 30px;
    }
    
}

@media only screen and (max-width:768px) {
    .showcase-image { 
        max-width: 250px;
    }
    .culture { 
        margin-top: 80px;
    }
}

@media only screen and (max-width:500px) {
    .showcase-image { 
        max-width: 100%;
    }
    .showcase-title {
        font-size: 3em;
    }
    .showcase-paragraph {
        font-size: 1em; 
    }
    .header-bottom-section > h2 { 
        font-size: 1.3em;
    }
    .header-card-title { 
        font-size: 1.8em;
    }
    .header-card-paragraph { 
        font-size: 1em;
    }
    .testimonial-text-container > p { 
        font-size: 1em;
    }
    .testimonial-text-container > small { 
        font-size: 0.9em;
    }
    .title-container { 
        font-size: 1.5em;
    }
    .card-title-container > h3 { 
        font-size: 1.3em;
    }
    .card-text-container > p { 
        font-size: 1em;
    }
    .people-text-container > h2 { 
        font-size: 2.1em;
    }
    .people-text-container > button { 
        font-size: 1em;
    }
}

@media (max-width: 665px) { 
    .people-container { 
        grid-template-columns: repeat(2, 1fr);
    }
}

