.Departments { 
  --fs-55px: 55px;
  --fs-48px: 48px;
  --fs-45px: 45px;
  --fs-35px: 35px;
  --fs-27px: 27px;
  --fs-40px: 40px;
  --fs-24px: 24px;
}

.departments-hero { 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: normal;
  flex-direction: column;
  position: sticky;
  margin-top: 80px;
  z-index: 1;
  gap: 30px;
}

.departments-hero h1 { 
  margin-left: 30px;
}
  
.banner-wrapper { 
  width: 100%;
}

.banner-wrapper > img { 
  width: 100%;
  height: 100%;
}
.bottom-hero-text-wrapper { 
  width: 80%;
}
.bottom-hero-text-wrapper > h1 { 
  font-size: var(--fs-48px);
  font-weight: 500;
}
.css-typing h1 {
  font-size: var(--fs-55px);
  font-weight: 400;
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden;
}
  
.css-typing h1:nth-child(1) {
  width: 9em;
  -webkit-animation: type 2s steps(20, end);
  animation: type 2s steps(60, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
  
.css-typing h1:nth-child(2) {
  width: 6em;
  opacity: 0;
  -webkit-animation: type2 2s steps(20, end);
  animation: type2 2s steps(80, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(3) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.departments-showcase-section { 
  position: sticky;
  top: 80px;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}

.white-background { 
  background-color: white;
}

.departments-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.departments-left-col { 
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px 0 30px;
}
.department-title-wrapper { 
  font-size: var(--fs-45px);
}
.department-paragraph-wrapper { 
  flex: 2;
  padding-top: 30px;
  padding-right: 150px;
  font-size: var(--fs-35px);
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.department-paragraph-wrapper > p {
  font-size: var(--fs-35px);
}
.department-paragraph-wrapper > small {
  font-size: var(--fs-27px);
}


.departments-right-col { 
  width: 50%;
  height: 100%;
}
#community-development { 
  background-image: url(../public/static/Community\ Development.png);
  background-size: cover;
  background-position: right;
}
#creatives { 
  background-image: url(../public/static/Creatives.png);
  background-size: cover;
  background-position: right;
}
#external-affairs { 
  background-image: url(../public/static/External\ Affairs.png);
  background-size: cover;
  background-position: right;
}
#finance { 
  background-image: url(../public/static/Finance.png);
  background-size: cover;
  background-position: right;
}
#human-resources { 
  background-image: url(../public/static/Human\ Resources.png);
  background-size: cover;
  background-position: right;
}
#photography { 
  background-image: url(../public/static/Photography.png);
  background-size: cover;
  background-position: right;
}
#publicity { 
  background-image: url(../public/static/Haley.png);
  background-size: cover;
  background-position: right;
}
#secretariat { 
  background-image: url(../public/static/Secretariat.png);
  background-size: cover;
  background-position: right;
}
#videography { 
  background-image: url(../public/static/Videography.png);
  background-size: cover;
  background-position: right;
}
#webtech { 
  background-image: url(../public/static/Web\ Technologies.png);
  background-size: cover;
  background-position: right;
}
#writing { 
  background-image: url(../public/static/Writing.png);
  background-size: cover;
  background-position: right;
}

@media (max-width: 768px) {
  .departments-showcase {
    flex-direction: column-reverse;
  }
  .departments-left-col { 
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    padding: 0 30px 0 30px;
    position: sticky;
    background-color: white;
  }
  .department-title-wrapper { 
    font-size: var(--fs-45px);
    line-height: 61.6px;
  }
  .department-paragraph-wrapper { 
    flex: none;
    padding: 0;
    font-size: var(--fs-35px);
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  .department-paragraph-wrapper > p {
    font-size: var(--fs-35px);
  }
  .department-paragraph-wrapper > small {
    font-size: var(--fs-27px);
    padding: 0;
  }
  
  .departments-right-col { 
    width: 100%;
    height: 50%;
  }
  #community-development { 
    background-size: cover;
  }
  #creatives { 
    background-size: cover;
  }
  #external-affairs { 
    background-size: cover;
  }
  #finance { 
    background-size: cover;
  }
  #human-resources { 
    background-size: cover;
  }
  #photography { 
    background-size: cover;
  }
  #publicity { 
    background-size: cover;
  }
  #secretariat { 
    background-size: cover;
  }
  #videography { 
    background-size: cover;
  }
  #webtech { 
    background-size: cover;
  }
  #writing { 
    background-size: cover;
  }
}

.bottom-banner { 
  bottom: 0;
  background-image: url(../public/static/What\ Do\ You\ Say\ Banner\ 2\ Blurred\ \(2\).png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.bottom-banner-text-wrapper > h2 { 
  font-size: var(--fs-40px);
}.bottom-banner-button-wrapper button { 
  background-color: transparent;
  border: 2.5px solid;
  border-radius: 25px;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;    
  margin: 4px 10px;
  cursor: pointer;
  font-size: var(--fs-24px);
  font-weight: 500;
  transition: 0.3s;
}
.bottom-banner-button-wrapper button:hover { 
  transition: 0.3s;
    background-color: #FFFD;
    backdrop-filter: blur(10px) saturate(260%) contrast(180%);
    transform: scale(1.1); 
}


@media screen and (max-width: 1200px){
  .Departments { 
    --fs-55px: 48px;
    --fs-48px: 41px;
    --fs-45px: 38px;
    --fs-35px: 44px;
    --fs-27px: 20px;
    --fs-40px: 33px;
    --fs-24px: 17px;
  }
}

@media screen and (max-width: 986px), screen and (max-height: 1050px){
  .Departments { 
    --fs-55px: 44px;
    --fs-48px: 37px;
    --fs-45px: 34px;
    --fs-35px: 24px;
    --fs-27px: 16px;
    --fs-40px: 35px;
    --fs-24px: 13px;
  }
  .departments-hero { 
    margin-top: 100px;
  }
  .departments-showcase { 
    top: 80px;
  }
}

@media screen and (max-width: 940px), screen and (max-height: 800px) {
  .Departments { 
    --fs-55px: 40px;
    --fs-48px: 33px;
    --fs-45px: 31px;
    --fs-35px: 21px;
    --fs-27px: 13px;
    --fs-40px: 35px;
    --fs-24px: 11px;
 }
}
/* , screen and (max-height: 700px) */
@media screen and (max-width: 860px), screen and (max-height: 700px)  {
  .Departments { 
    --fs-55px: 37px;
    --fs-48px: 30px;
    --fs-45px: 28px;
    --fs-35px: 18px;
    --fs-27px: 10px;
    --fs-40px: 35px;
    --fs-24px: 19px;
  }
}

/*   */
@media screen and (max-width: 768px){
  .Departments { 
    --fs-55px: 33px;
    --fs-48px: 26px;
    --fs-45px: 24px;
    --fs-35px: 20px;
    --fs-27px: 18px;
    --fs-40px: 24px;
    --fs-24px: 15px;
  }
}


/* animations */
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
