@font-face {
  font-family: "Sailec";
  src: local("Sailec"),
  url("../fonts//Sailec/Sailec\ Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Sailec";
  src: local("Sailec"),
  url("../fonts//Sailec//Sailec\ Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Sailec";
  src: local("Sailec"),
  url("../fonts//Sailec//Sailec\ Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal
}



:root { 
  --primary: #151F28;
  --secondary: #F7A81E;
  --lead: #D9D9D9;
}

.page { 
  background-color: red;
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sailec";
  font-weight: 400;
}

a  {
  text-decoration: none;
  color: inherit;
}

li { 
  color: inherit
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
