.header { 
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: 0.3s;
}

.transparent { 
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
}

.logo { 
    width: 288px;
    height: 99px;
}

.nav-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.nav-link { 
    color: black;
    transition: 0.3s;
}

.nav-link:hover { 
    color: var(--lead);
}

.mobile-logo { 
    display: none;
}

.hamburger-icon { 
    display: none;
} 

.white { 
    color: white
}


@media only screen and (max-width: 768px){
    .desktop-logo { 
        display: none;
    }

    .mobile-logo{ 
        display: block;
    }

    .logo { 
        padding: 10px;
        height: 80px;
        width: 80px;
    }

    .hamburger-icon { 
        display: block;
        position: fixed;
        top: 15px;
        right: 45px;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 100px;
        z-index: 99;
    }
    .hamburger-icon:hover { 
        background-color: var(--lead);
    }

    .header { 
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0
    }

    .brand { 
        padding-left: 30px;
    }

    .nav-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        height: 200px;
        padding: 0;
        width: 100%;
        position: block;
    }

    .nav-link { 
        width: 100%;
        padding: 15px 0 15px 30px;
    }

    .nav-link:hover { 
        background-color: var(--lead);
        color: black;
    }

    .invisible { 
        display: none;
    }


}

