.homepage { 
    --fs-60px: 60px;
    --fs-24px: 24px;   
    user-select: none;
}

.main { 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../public/static/GIF-\(Lighter\).gif");
    background-size: cover;
    background-position: left;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.container { 
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.heading-wrapper > h1 { 
    color: white;
    text-shadow: 2px 2px black;
    font-size: var(--fs-60px);
    filter: drop-shadow(2px 18px 13px #000);
}
.paragraph-wrapper p { 
    color: white;
    font-size: var(--fs-24px);
    text-shadow: 2px 2px black;
    filter: drop-shadow(2px 18px 13px #000);
}
.button-wrapper button { 
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px black;
    color: white;
    font-size: var(--fs-24px);
    padding: 17px 22px 17px 22px;
    border: white 4px solid;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(2px 18px 13px #000);
}

.button-wrapper button:hover { 
    transition: 0.3s;
    background-color: #FFFD;
    backdrop-filter: blur(10px) saturate(260%) contrast(180%);
    transform: scale(1.1);   
}

@media (max-width: 768px) {
    .homepage { 
        --fs-60px: 45px;
        --fs-24px: 16px;   
    }
    .main {
        height: 100vh;
    }
    .container { 
        padding: 0px 0px 15px 15px;
    }
}

@media (max-height: 800px) { 
    
}

