@media only screen and (max-width: 480px) {
  .Landing h1 {
    font-size: 45px !important;
  }

  .Landing p {
    font-size: 16px;
    white-space: nowrap;
  }

  .masthead {
    height: 15vh;
    min-width: auto;
  }
}


@media (min-width: 768px) {
  .Landing h1 {
    font-size: 35rem;
  }

  .Landing p {
    font-size: 20px;
    white-space: nowrap
  }

  .masthead {
    min-height: 30vh;
  }

}

.Landing h4 {
  text-align: center;
}

.masthead {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}


.main {
  padding-bottom: 50px;
  padding-left: 50px;
}

.Landing h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.Landing p {
  font-size: 19px;
  display: inline-block;
}

.Landing span { 
  display: inline-block;
}

.submit {
  font-size: 15px;
  font-family: 'Sailec';
  color: #151F28;
  background-color: transparent;
  border: none;

}

.button-deco {
  border: 3.5px solid #151F28;
  border-radius: 25px;
  width: 230px;
  height: 30.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
