.main-container {
  margin-top: 100px;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
}

.divider {
  height: 40px;
}

.front-text {
  font-size: 2.6em;
  line-height: 1.1em;
  font-weight: bolder;
}

.front-text i {
  font-weight: bolder;
}

.image-section-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
  margin: 0 auto;
}

.circle-image {
  border-radius: 50%;
  height: 420px;
  width: 310px;
  /* margin: 10px; */
  object-fit: cover;
}

.count {
  font-size: 3.3em;
  font-weight: 500;
  padding-left: 90px;
  padding-right: 90px;
}

.desc {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 500;
  padding-left: 90px;
  padding-right: 90px;
}

.image-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portrait-image {
  border-radius: 8%;
  height: 420px;
  width: 310px;
  object-fit: cover;
}

.test-image {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.testimony-container-left {
  display: flex;
  padding-left: 80px;
}

.testimony-left {
  width: 80%;
  padding-left: 25px;
}

.testimony-text {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2em;
}

.testimony-text i{
  font-weight: 500;
}

.testimony-container-right {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 80px;
}

.testimony-right {
  padding-right: 25px;
  width: 75%;
  text-align: right;
}

.name-pos-right {
  text-align: right;
  font-size: 1.3em;
}

.name-pos {
  font-size: 1.3em;
}

.gray-divide {
  background-image: url("/static/Banner 4.png");
  background-repeat: no-repeat;
  width: 100%;
}

.short-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alumni-title {
  text-align: center;
  font-size: 3.3em;
}

.alumni-desc {
  text-align: center;
  font-size: 2.4em;
  font-weight: 500;
}

.alumni-img-section {
  /* justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.alumni-image {
  border-radius: 8%;
  height: 470px;
  width: 360px;
  margin: 5px;
  object-fit: cover;
}

.twphoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
  opacity: 0.8;
  filter: blur(1px) brightness(0.8) contrast(1.2);
}

.bottom-cont {
  position: relative;
}

.bottom-text {
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bottom-title {
  font-size: 3.3em;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  color: white;
}

.People button {
  background-color: transparent;
  border: 2.5px solid;
  border-radius: 25px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
}

.People button:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1567px) {
  .circle-image {
    height: 130px;
    width: 130px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .front-text {
    font-size: 2em;
  }

  .circle-image {
    height: 110px;
    width: 110px;
    margin: 5px;
  }

  .count,
  .alumni-title {
    font-size: 2.8em;
  }

  .desc,
  .alumni-desc {
    font-size: 2em;
  }

  .portrait-image {
    border-radius: 8%;
    height: 390px;
    width: 280px;
    object-fit: cover;
  }

  .testimony-container-left {
    padding-left: 30px;
    flex-direction: column;
  }

  .test-image-section {
    padding-left: 60px;
  }

  .testimony-container-right {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 0;
  }

  .testimony-left {
    width: 90%;
    padding-right: 0;
    padding-left: 60px;
  }

  .testimony-right {
    text-align: left;
    width: 90%;
    padding-right: 0;
    padding-left: 60px;
  }

  .testimony-text {
    font-size: 1.6em;
  }

  .name-pos {
    font-size: 1.1em;
  }

  .name-pos-right {
    text-align: left;
    font-size: 1.1em;
  }

  .bottom-title {
    font-size: 2em;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;
  }

  .People button {
    padding: 6px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 968px) {
  .portrait-image {
    border-radius: 8%;
    height: 360px;
    width: 250px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .circle-image {
    height: 100px;
    width: 100px;
    margin: 1px;
  }

  .portrait-image {
    border-radius: 8%;
    height: 330px;
    width: 220px;
    object-fit: cover;
  }

  .alumni-img-section {
    /* padding-left: 18%;
    padding-right: 18%; */
    width: 45%;
    justify-content: space-between;
    overflow-x: scroll;
    flex-wrap: nowrap;
    margin: auto;
  }

  .front-text {
    font-size: 1.8em;
  }

  .count,
  .alumni-title {
    font-size: 2.5em;
  }

  .desc,
  .alumni-desc {
    font-size: 1.7em;
  }

  .testimony-text {
    font-size: 1.4em;
  }

  .name-pos {
    font-size: 1em;
  }

  .name-pos-right {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .circle-image {
    height: 100px;
    width: 100px;
    margin: 0.1px;
  }

  .portrait-image {
    border-radius: 8%;
    height: 310px;
    width: 200px;
    object-fit: cover;
  }

  .alumni-img-section {
    width: 70%;
    justify-content: space-between;
    overflow-x: scroll;
    flex-wrap: nowrap;
    margin: auto;
  }
}
