.main-container {
  margin-top: 100px;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
}

.divider {
  height: 40px;
}

.front-text {
  font-size: 2.6em;
  line-height: 1.1em;
  font-weight: bolder;
}

.front-text i {
  font-weight: bolder;
}

.image-section-1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.circle-image {
  box-shadow: 0px 7px 7px black;
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  justify-self: center;
  object-fit: cover;
}

.count {
  font-size: 3.3em;
  font-weight: 500;
  padding-left: 90px;
  padding-right: 90px;
}

.desc {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 500;
  padding-left: 90px;
  padding-right: 90px;
}

.image-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portrait-image {
  border-radius: 8%;
  height: 420px;
  width: 310px;
  object-fit: cover;
  box-shadow: 11px 10px 29px 1px rgba(0, 0, 0, 0.5);
}

.test-image {
  box-shadow: 11px 10px 29px 1px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 130px;
  width: 130px;
  
}

.testimony-container-left {
  display: flex;
  padding-left: 80px;
}

.testimony-left {
  width: 80%;
  padding-left: 25px;
}

.testimony-text {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2em;
}

.testimony-text i {
  font-weight: 500;
}

.testimony-container-right {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 80px;
}

.testimony-right {
  padding-right: 25px;
  width: 75%;
  text-align: right;
}

.name-pos-right {
  text-align: right;
  font-size: 1.3em;
}

.name-pos {
  font-size: 1.3em;
}

.gray-divide {
  background-image: url("/static/Banner 4.png");
  background-repeat: no-repeat;
  width: 100%;
}
.alumni-section { 
  display: grid;
  place-items: center;
}
.alumni-title {
  text-align: center;
  font-size: 3.3em;
}

.alumni-desc {
  text-align: center;
  font-size: 2.4em;
  font-weight: 500;
}

.alumni-img-section {
  width: 70%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;
}

.alumni-image {
  border-radius: 8%;
  height: 490px;
  justify-self: center;
  margin-bottom: 15px;
  object-fit: cover;
}

.twphoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
  opacity: 0.8;
  filter: blur(1px) brightness(0.8) contrast(1.2);
}

.bottom-cont {
  position: relative;
}

.bottom-text {
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bottom-title {
  font-size: 3.3em;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  color: white;
  filter: drop-shadow(2px 18px 13px #000);text-shadow: 2px 2px black;
}

.People button {
  background-color: transparent;
  border: 2.5px solid;
  border-radius: 25px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  text-shadow: 2px 2px black;
  filter: drop-shadow(2px 18px 13px #000);
  transition: 0.3s;
}

.People button:hover {
  background-color: white;
  transition: 0.3s;
  background-color: #FFFD;
  backdrop-filter: blur(10px) saturate(260%) contrast(180%);
  transform: scale(1.1); 
}
@media only screen and (max-width: 1200px) {
  .alumni-img-section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
  .image-section-1 { 
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }
  .circle-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .front-text {
    font-size: 2em;
  }

  .count,
  .alumni-title {
    font-size: 2.8em;
  }

  .desc,
  .alumni-desc {
    font-size: 2em;
  }

  .portrait-image {
    border-radius: 8%;
    height: 390px;
    width: 280px;
    object-fit: cover;
  }

  .testimony-container-left {
    padding-left: 30px;
    flex-direction: column;
  }

  .test-image-section {
    padding-left: 60px;
  }

  .testimony-container-right {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 0;
  }

  .testimony-left {
    width: 90%;
    padding-right: 0;
    padding-left: 60px;
  }

  .testimony-right {
    text-align: left;
    width: 90%;
    padding-right: 0;
    padding-left: 60px;
  }

  .testimony-text {
    font-size: 1.6em;
  }

  .name-pos {
    font-size: 1.1em;
  }

  .name-pos-right {
    text-align: left;
    font-size: 1.1em;
  }

  .bottom-title {
    font-size: 2em;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;
  }

  .People button {
    padding: 6px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 968px) {
  .portrait-image {
    border-radius: 8%;
    height: 360px;
    width: 250px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .image-section-1 { 
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .portrait-image {
    border-radius: 8%;
    height: 330px;
    width: 220px;
    object-fit: cover;
  }
  .bottom-title {
    font-size: 1.5em;
    padding: 0;
  }
  .bottom-cont { 
    height: 50vh;
  }

  .alumni-img-section {
    width: 51%;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    overflow-x: scroll;
    column-gap: 10px;
    margin: auto;
    
  }
  .alumni-img-section::-webkit-scrollbar {
    height: 6px;
    /* At least not zero */
  }

  .alumni-img-section::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* Or any other instruction making the element visible */
  }

  .front-text {
    font-size: 1.8em;
  }

  .count,
  .alumni-title {
    font-size: 2.5em;
  }

  .desc,
  .alumni-desc {
    font-size: 1.7em;
  }

  .testimony-text {
    font-size: 1.4em;
  }

  .name-pos {
    font-size: 1em;
  }

  .name-pos-right {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .alumni-img-section {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .portrait-image {
    border-radius: 8%;
    height: 310px;
    width: 200px;
    object-fit: cover;
  }

  .alumni-img-section {
    width: 76%;
  }
}
