.quiz {
  height: 100vh;
  --fs-80px: 80px;
  --fs-24px: 24px;
  --fs-36px: 36px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 0 300px 0 300px;
  text-align: center;
  background-image: url(../public/static/Home.png);
  background-size: cover;
  background-position: bottom;
}

.main h1 {
  font-size: var(--fs-80px);
  color: white;
  filter: drop-shadow(10px 18px 13px #000);
}

.main p {
  font-size: var(--fs-24px);
  color: white;
  filter: drop-shadow(10px 18px 13px #000);
}

.main > button {
  font-weight: 500;
  padding: 21px;
  background-color: rgba(0, 0, 0, 0);
  min-width: 235px;
  min-height: 67px;
  border-radius: 20px;
  border: 3px solid var(--secondary);
  color: var(--secondary);
  font-size: var(--fs-36px);
  cursor: pointer;
  transition: 0.4s;
  backdrop-filter: blur(4px);
  filter: drop-shadow(10px 18px 8px black);
}

.main > button:hover {
  transition: 0.4s;
  backdrop-filter: blur(10px);
  transform: scale(1.1);
}

@media only screen and (max-width: 1376px) {
  .quiz {
    --fs-80px: 50px;
    --fs-24px: 20px;
    --fs-36px: 24px;
  }

  .main {
    padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .quiz {
    --fs-80px: 40px;
    --fs-24px: 16px;
    --fs-36px: 20px;
  }
  .main {
    padding: 30px;
  }
}




